#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: absolute;
    bottom: 0;
    background: rgba(234, 246, 246, 0.5);
    width: 100%;
    height: 110%;
    padding: 20px;
}

.card {
    max-width: 700px;
    min-width: 500px;
    border: solid 2px #eaf6f6 !important;
    border-radius: 20px !important;
    margin-top: 55px;
}

.card-title {
    color: #9ab9cf;
    padding: 10px;
}

.btn {
    background-color: #eaf6f6 !important;
    color: #9ab9cf !important;
    border-radius: 0 20px 20px 0 !important;
}
.btn-current{
    background-color: #eaf6f6 !important;
    color: #9ab9cf !important;
    margin: 0 1px 0 0 !important;
    border: none !important;
    border-right: solid 1px #ffffff !important;
    text-decoration: none;
}

input {
    border: solid 2px #eaf6f6 !important;
    border-radius: 20px 0 0 20px !important;
}

.current {
    border: solid 2px #eaf6f6 !important;
    margin: 0;
}

.sun-p {
    font-size: 70px;
    color: #f5fa36;
}

.cloud-p {
    font-size: 70px;
    color: #eaf6f6;
}

.predict {
    margin: 20px auto;
    border: solid 2px #eaf6f6 !important;
}

@media only screen and (max-width: 700px) {
    .card {
        margin-bottom: 6px;
        vertical-align: center;
    }
    .icon {
        font-size: 60px;
        padding: 10px;
    }
    .sun-p {
        font-size: 40px;
        color: #f5fa36;
    }

    .cloud-p {
        font-size: 40px;
        color: #eaf6f6;
    }
}
.degree {
    color: #6d757d;
    text-decoration: none;
    cursor: pointer;
}
.degree:hover {
    color: #6d757d;
}
#wind{
    font-size: 16px;
}
#desc{
    color: #6d757d;
}
@media only screen and (min-width: 700px) {
    .main-card {
        margin: 30px auto !important;
        vertical-align: center;
    }
}
.info{
    -webkit-transition: ease 5ms;
    text-decoration: none;
    color: #9ab9cf !important;
    transition: ease 5ms;
}
.info:hover{
    color: #849eb0 !important;
}